* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;

  font-family: "tienne";
}
html,
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-selection {
  color: white;
  background: #b59955;
}
::selection {
  color: white;
  background: #b59955;
}
table {
  margin-left: 5vw;
  width: 80vw;
  font-size: 3vh;
  background-color: #1d4239;
  color: white;
  border: none;
  border-collapse: collapse;
}
td {
  border-bottom: 0.2vh solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-collapse: separate;
  border-spacing: 0 2vh;
}
.td-question {
  padding-left: 5vh;
  font-size: 4vh;
  font-weight: bold;
}
.td-correct,
.td-incorrect {
  padding-left: 2vh;
  font-size: 3vh;
}
.td-correct {
  background-color: #b59955;
}
#content {
  margin-top: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#q-drop,
#s-drop,
#c-drop {
  width: 90vw;
  overflow: hidden;
  margin-top: 3vh;
}
.drop-header {
  width: 90vw;
  height: 15vh;
  background-color: #1d4239;
  display: flex;
  align-items: center;
  padding-left: 2vh;
  font-size: 5vh;
  color: white;
  font-weight: bold;
  user-select: none;
}
.drop-header:hover {
  cursor: pointer;
}
.table-set {
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s linear;
}
.table-hid {
  opacity: 0;
  visibility: collapse;
}
