.custom-check {
  margin-top: 2vh;
  background-color: #1d4239;
  font-size: 4vh;
  display: flex;
  align-items: center;
}
.custom-check:hover {
  cursor: pointer;
}
.ch-indi {
  height: 8vh;
  width: 8vh;
  color: #b59955;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}
.ch-txt {
  width: calc(70vw - 38vh);
  padding-left: 2vh;
}
