* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
#content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.con_btn {
  height: 20vh;
  width: 30vw;
  background-color: #00241b;
  color: white;
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
}
.con_btn:hover {
  cursor: pointer;
  background-color: #b59955;
}
.hidden {
  visibility: collapse;
  pointer-events: none;
}
.back_btn {
  width: 60vw;
  font-size: 4vh;
  color: #b59955;
  margin-bottom: 2vh;
}
.back_btn span {
  display: block;
  float: left;
  width: 30vw;
  text-align: center;
}
.back_btn span:hover {
  cursor: pointer;
}

.ui_container {
  position: fixed;
  top: 0;
  width: 60vw;
  margin-left: 20vw;
  height: 100vh;
  background-color: #00241b;
  border: 0.5vh solid #b59955;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui_input {
  font-size: 4vh;
  margin-top: 2vh;
  height: 6vh;
  width: 50vw;
}
.cor_ansW {
  color: white;
  margin-top: 2vh;
  font-size: 4vh;
}
